extends layout

block content

    .sidebar
        block sidebar


    .primary
        block primary


            h3= message
                img(src="/images/cooking2.jpeg" width="600" height="400" )
                img(src="/images/cooking3.jpg" width="600" height="400" )
                img(src="/images/cooking.jpeg" width="600" height="400")
                img(src="/images/cooking4.jpg" width="600" height="400")
                ol

        block foot
            #footer
